/*body {
	position: relative;
	font-family:Courier, monospace;
	background-color: #f5fcff;
}
.header{
	background-image: url('https://images.pexels.com/photos/414551/pexels-photo-414551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 72vh;
	position: relative;
	border-bottom: 1px solid #2677ad;
}
.col-md-6{
background-color: #3e96d1;
border-radius: 15px;
border: 2px solid #2677ad;
}
  .row{
	display: flex;
	justify-content: center;
} 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: 0.3s ease-out;
    padding: 5px 0;
    z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
}


.navbar-brand{
	color: #52a8e1;
	font-weight: 380;
}

.logo-wrap img {
    width: 54px;
	
}
.logo-wrap {
    width: 100px;
    height: auto;
	margin-right:  -30px;
}

.contact-1{
color: rgb(243, 243, 243);
margin-right: 10px;
margin-bottom: 3px;
}

.btn{
	background-color: #3e96d1;
}

.dessertss{
	color: #52a8e1;
	font-weight: 375;
}
.all{
	color: #52a8e1;
}
.title{
    margin-top: 90px;
    margin-bottom: -10px;
}
.small-medium-large{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s{
    margin-right: 20px;
}
.m{
    margin-right: 20px;
}
.card-img-top{
    height: 375px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2677ad;
}
.card{
    border: 1px solid #2677ad;
}
.syrup-cost{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: -30px;
}
*/
.header{
	background-color: #fcf9ff;
	
}
.col-md-6{
background-color: #3e96d1;
border-radius: 15px;
border: 2px solid #2677ad;
}
  .row{
	display: flex;
	justify-content: center;
} 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    transition: 0.3s ease-out;
    padding: 5px 0;
    z-index: 999; 
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: monaco, Consolas, "Lucida Console", monospace; 
}


.navbar-brand{
	color: #ffffff;
	font-weight: 380;
	margin-right: 70px;
	margin-left: 3px;
}
.navbar-brand:hover{
	color: #b76aff;
}
.logo-wrap img {
    width: 54px;
	
}
.logo-wrap {
    width: 100px;
    height: auto;
	margin-right:  -30px;
}

.contact-1{
color: rgb(243, 243, 243);
margin-right: 10px;
margin-bottom: 3px;

}
/*.btn{
	background-color:  #b76aff;
	opacity: 0.9;
}
*/
.btn {
	 text-decoration: none;
	  color: rgb(0, 0, 0); 
	  background-color:  #b76aff;
	  
	   opacity: 0.9; 
	}
.btn:hover { text-decoration: none; color: rgb(255, 255, 255); }


.dessertss{
	color: #52a8e1;
	font-weight: 375;
}

.all{
	color: #b76aff;
}

.accordion{
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 5px;
	border: 1px solid #491e70;
	margin-bottom: 50px;
}
.accordion-body{
	font-weight: 500;
}

#about{
	border-bottom: 1px solid #2677ad;
}
.contact-1{
	font-weight: 375;
}
.dropdown-menu{
	font-weight: 375;
	font-family: monaco, Consolas, "Lucida Console", monospace; 
}

.subtitle{
	font-size: 18px;
}
.accordion-imgs{
	height: 30px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.pop_desserts{
	border-bottom: 1px solid #2677ad;
	width: 1000px;
	height: 300px;
	margin-left: 200px;
}

.main-buttons { text-decoration: none; color: rgb(0, 0, 0); }
.main-buttons:hover { text-decoration: none; color: rgb(255, 255, 255); }

.btn-group { margin-right: 10px;}
.drop-down{
	padding-top: 10px;
}
/*
.drop-down:hover{
	color:rgb(255, 255, 255);
} */

.navbar-b{
	color: #ffffff;
	font-weight: 380;
	text-decoration: none;
	font-size: 20px;
	margin-right:5px;
}
.navbar-b:hover{
	color: #b76aff;
}
#about{
	margin-top: 50px;
}
.sect{
	padding-bottom: 20px;
	border-bottom: 1px solid #491e70;
	margin-top: 100px;
	padding-bottom: 65px;
}
.main-img{
border: 1px solid #00000075;
border-radius: 50px;
}
ul{
    margin-left: -32px;
    font-size: 19px;
}
.main-text1{
    font-family: monaco, Consolas, "Lucida Console", monospace; 
    color: #512d72;
}
.title2{
    margin-top: 50px;
    font-family:  monaco, Consolas, "Lucida Console", monospace; 
}



.card-img-un{
	height: 204px;
}
.stars{
    margin-bottom: 10px;
}
.checked {
    color: orange;
}
.card{
	border:1px solid black;
	margin-bottom: 20px;
}
.card-img-top{
	border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}
.baby-button {
	text-decoration: none;
	 color: rgb(0, 0, 0); 
	 background-color:  #ffffff;
   }
.baby-button:hover { text-decoration: none; color: rgb(0, 0, 0); background-color: #b76aff84;}